.users-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-card {
  color: black;
  width: 200px;
  margin: 10px;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-icon {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}

.user-name {
  margin-top: 0;
  margin-bottom: 5px;
}

.user-kudos {
  margin-top: 0;
  margin-bottom: 15px;
}

.select-profile-btn {
  background-color: #1e778d;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.select-profile-btn:hover {
  background-color: #9c21b8;
  border-radius: 25px;
  transform: scale(1.08);
}
