.user-icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

li {
  list-style: none;
  text-align: center;
}

button {
  background-color: #e6e7e8;
  color: #615f5f;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}
