.vote-buttons-container {
  display: inline-block;
}

.vote-button {
  background-color: transparent;
  color: #333;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.vote-button.voted {
  border: 2px solid rgb(11, 144, 189);
}

.vote-count {
  font-size: 16px;
  color: #0eaeda;
  margin-left: 5px;
}
