.vote-buttons-container {
  display: inline-block;
}

.vote-button {
  background-color: transparent;
  color: #333;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.vote-button.voted {
  border: 1px solid rgb(32, 151, 198);
  border-radius: 20px;
}

.vote-count {
  font-size: 16px;
  color: #01242e;
  margin-left: 5px;
}
