.Comments {
  margin-top: 16px; 
  padding: 0 16px; 
}

.comments-header {
  font-size: 18px; 
  color: #172B4D; 
  margin-bottom: 8px; 
}

ul {
  list-style: none;
  padding: 0;
}

.comment {
  background-color: #f5f5f5; 
  text-align: left;
  border-radius: 3px; 
  padding: 16px; 
  margin-bottom: 8px; 
  border: 1px solid #ddd; 
}

.comment h2 {
  font-size: 16px; 
  margin-bottom: 4px;
  color: #172B4D; 
  font-weight: bold; 
}

.comment p {
  font-size: 14px; 
  color: #333; 
  text-align: left;
  line-height: 1.5; 
  margin-bottom: 4px; 
}

.comment p:last-child {
  margin-bottom: 0;
}

.comment .posted-on,
.comment .votes {
  color: #999; 
  font-size: 12px; 
  margin-bottom: 4px; 
}

.comment .votes {
  font-weight: bold; 
}

.button {
  background-color: #d53e3e; 
    color: #fff; 
    border: none;
    border-radius: 3px;
    padding: 8px 16px;
    cursor: pointer; 
    transition: background-color 0.2s ease-in-out;
}
