.nav-user-icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.nav {
  background-color: #007bff; 
  border-radius: 30px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  color: #fff; 
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
}

.nav a:hover {
  text-decoration: underline;
}

.profile {
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.nav-user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}
